@{
    Layout = "~/Views/Shared/_PrzychodniaLayout.cshtml";
}

@*<script src="~/Scripts/terminarz.js"></script>*@
<div class="container kontenerMaterial">
    <div class="container">
        <div id="terminarzDataKontener" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label for="dataRezerwacji">Data</label>
            <input type="text" onchange="zmianaTerminu()" value="@DateTime.Now.Year-@string.Format("{0:00}", DateTime.Now.Month)-@string.Format("{0:00}",DateTime.Now.Day)" id="dataRezerwacji" name="dataRezerwacji" class="form-control datepickerRejOnline" />
        </div>

    </div>
</div>
<div class="container kontenerMaterial" id="kontenerMaterialPortalPacjenta" style="padding:0">
    @* Treść ładowana AJAXem *@
    @Html.Partial("TerminarzPrzychodnia")

</div>

@Html.Partial("_KartaRezerwacjiPrzychodnia")

<script>
    function zmianaTerminu() {
            var kontenerMaterialPortalPacjenta = $('#kontenerMaterialPortalPacjenta');
            var dataRezerwacji = $('#dataRezerwacji').val();

            var wzor = /^[0-9]{4}-[0-9]{2}-[0-9]{2}$/;
            var parts = dataRezerwacji.split('-');

            if (!wzor.test(dataRezerwacji)) {
                alert("Wybierz datę z kalendarza");
                kontenerMaterialPortalPacjenta.slideUp(500);
                return;
            }
            $.ajax({
                url: '@Url.Action("pobierzTerminarz", "Terminarz")',
                data: {
                    wybranaData: dataRezerwacji
                },
                success: function (response) {
                    kontenerMaterialPortalPacjenta.slideUp(300, function myfunction() {
                    kontenerMaterialPortalPacjenta.html(response);
                    });
                    kontenerMaterialPortalPacjenta.slideDown(300);
                },
                error: function () {
                    kontenerMaterialPortalPacjenta.slideUp(300, function myfunction() {
                        kontenerMaterialPortalPacjenta.html("");
                    });
                }
            });
        }

    $(document).ready(function () {
        var kontenerMaterialPortalPacjenta = $('#kontenerMaterialPortalPacjenta');
        kontenerMaterialPortalPacjenta.css({
            "height": "100%",
            "visibility": "visible"
        });
    });
</script>
