<div class="przychodnia">
    <table class="table table-bordered">
        <tr>
            
            @{
                foreach (var item in ViewBag.Rezerwacje)
                {
                    <td>@item.Pacjent.Nazwisko</td>
                    <td>@item.Pacjent.Imie</td>
                    <td>@item.godzOd</td>
                }
            }
        </tr>


    </table>
</div>


