<div class="przychodnia">
    <table class="table table-bordered terminarz">
        <tr>
            <td></td>
            @{
                        int iloscPracowników = ViewBag.Pracownicy.Count;
                        string szer = (90 / iloscPracowników).ToString() + "%";
                        int y = 0;
                        foreach (var prac in ViewBag.Pracownicy)
                        {
                            if (ViewBag.Pracownicy[y].Id == 1)
                            {
                     <td class="panelNazwyPracownika" style="width:@szer">@prac.Imie @prac.Nazwisko</td>
                         }
            }
            }
        </tr>
       
        
    </table>
</div>
<script src="~/Scripts/terminarz.js"></script>


