@model SOPeL.ViewModels.WizytaViewModel
<div class="przychodnia">
    <table class="table table-bordered terminarz">
        
            
            @{
                foreach (var item in Model.rezerwacje )
                {
                    <tr>
                        <td class="pacjent_oczekujacy">@item.Pacjent.Nazwisko  @item.Pacjent.Imie <br/> @item.Pacjent.Pesel</td>
                        <td class="pacjent_oczekujacy">@item.godzOd</td>
                        <td class="panel-rezerwacji wolny-termin"><div id="dodajWizyte">OBSŁUŻ PACJENTA</div></td>
                    </tr>
                }
            }
                   


    </table>
</div>


