
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Admin";
}


<div>

    <div id="opcjeOgolneBtn" class="button-kafelek" onclick="pokazOpcjeGlowne()">
        Opcje ogólne
    </div>
</div>



@* ------------------------------------- KONTENER NA OKIENKA --------------------------------------------------------------------- *@
<div>
    <div id="opcje-ogolne-kontener" class="wysrodkujCentralnie display-none">
        @* Okno łaldowane przez AJAX *@
        @Html.Action("PokazOpcjeGlowne","Admin")
    </div>
</div>

@* ----------------------------------- END KONTENER NA OKIENKA ------------------------------------------------------------------- *@

@section scripts{
    @Scripts.Render("~/Scripts/Admin")
}
