
@{
    ViewBag.Title = "Przychodnia";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="wysrodkujCentralnie">
    <div class="kontenerMaterial" style="padding:100px; border:1px solid #bdbdbd">
        <div style="text-align:center">
            <img src="~/Content/Images/LogoSOPeLv2.png" class="img-responsive" style="display:inline-block" />
        </div>
        <hr />
        <div>
            <h2>Witaj w Systemie Obłsugi Przychodni Lekarskiej</h2>
        </div>
    </div>
</div>