
@{
    ViewBag.Title = "Przychodnia";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="wysrodkujCentralnie">
    <div>
        <div>
            <img src="~/Content/Images/logoalfa.png" class="img-responsive" />
        </div>
        <hr />
        <div>
            <h2>Witaj w Systemie Obłsugi Przychodni Lekarskiej</h2>
        </div>
    </div>
</div>