<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
   
</head>
<body>
    <div id="tlo">
        <div class="row">
            <div id="buttons" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a href="@Url.Action("Index", "Rejestracja")">
                    <div class="przycisk">
                        <img src="~/Content/Images/pacjentIcon.png" alt="Ikona pacjenta"/>
                        <span>Portal Pacjenta</span>
                    </div>
                </a>
                    <div class="przycisk" id="zalogujDoPrzychodniButton">
                        <img src="~/Content/Images/doctorIcon.png" alt="Ikona doktora"/>
                        <span>Przychodnia</span>
                    </div>
            </div>
        </div>
    </div>
        @Html.Partial("_OknoLogowania")
</body>
</html>

<script>
    //Skrypt do wyświtlenia okienka logowania
    $(document).ready(function myfunction() {
      var szerokoscOkna = $('body').width();

      if (szerokoscOkna > 784)
        szerokoscOkna = 600;

      $('#zalogujDoPrzychodniButton').click(function () {
          $('#kartaLogowania').css("display", "block");
          $('#kartaLogowania').dialog({
              draggable: false,
              hide: { effect: "fade", duration: 250 },
              show: { effect: "fade", duration: 250 },
              resizable: false,
              width: szerokoscOkna,
              autoOpen: false,
              minHeight: $('#kartaPacjenta').css("minHeight"),
              title: "LOGOWANIE"
          });
          $('#kartaLogowania').dialog("open");
      });
    });
   
</script>
