@model List<SOPeL.Models.Wizyta>

<ul class="list-group">
    @{ foreach (SOPeL.Models.Wizyta item in Model)
        {
            <li   value="@item.Id"class="list-group-item"><div data-idwiz="@item.Id" class="wyswietlHistorie">@item.DataWizyty.ToShortDateString() </div></li>
        }
    }
</ul>












