@model SOPeL.ViewModels.WydrukWywiaduViewModel

<h3>Wywiad aktualny</h3>
<h5>Pacjent: @Model.Pacjent.Imie @Model.Pacjent.Nazwisko (@Model.Pacjent.Pesel)</h5>
<hr />

<p style="white-space:pre-wrap">
    @Model.Wywiad
</p>