#Kartoteki-Kafelki {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

    #Kartoteki-Kafelki .button-kafelek p {
        font-weight: 600;
    }

    #Kartoteki-Kafelki .wysrodkujCentralnie {
        position: relative;
        background: none;
    }

#ListaPacjentowKontener .kontenerOkienka,
#ListaPracownikowKontener .kontenerOkienka{
    min-height: 100%;
}

#SzukajPacjentowForm,
#SzukajPracownikowForm {
    margin-bottom: 10px;
}

    #SzukajPacjentowForm .row,
    #SzukajPracownikowForm .row {
        -ms-align-content: center;
        -webkit-align-content: center;
        align-content: center;
    }

    #SzukajPacjentowForm .button,
    #SzukajPracownikowForm .button {
        border: none;
        display: block;
        float: left;
        padding: 5px;
    }

        #SzukajPacjentowForm .button:hover,
        #SzukajPracownikowForm .button:hover {
            -moz-filter: brightness(1.1);
            -ms-filter: brightness(1.1);
            -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
        }

        #SzukajPacjentowForm .button:active,
        #SzukajPracownikowForm .button:active {
            -moz-filter: brightness(1.2);
            -ms-filter: brightness(1.2);
            -webkit-filter: brightness(1.2);
            filter: brightness(1.2);
        }


#ListaPacjentowTabela {
    cursor: pointer;
}

.wybierzBtn {
    text-align: center;
}

.wybierzIcon, .wybierzIcon:active {
    color: #2da2cf;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -webkit-transition: 300ms;
    transition: 300ms;
    line-height: inherit;
    top: inherit;
    font-size: larger;
}

    .wybierzIcon:hover {
        color: #6dc7e9;
    }
