#kartaLogowania {
    position:relative;
}

    #kartaLogowania input {
        margin: 10px 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border-style:solid;
        border-color: #dddddd;
        padding: 5px;

    }

        #kartaLogowania input:active {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

#formularzKartyLogowania .buttonFotterContainer {
    margin: 30px auto 0px;
}

#formularzKartyLogowania .buttonFotterContainer input {
    background: #5cb7de;
    color: white;
    padding: 10px 30px;
    border: none;
    }

#formularzKartyLogowania field-validation-error {
    display:block;
    float:none;
}

@media all and (max-width:768px) {

    #formularzKartyLogowania .buttonFotterContainer input {
        height: 40px;
        margin-top: 20px;
        font-size: small;
    }
}
