#bodyPortalPacjenta{
     background: #f1f1f1;
    background: -moz-linear-gradient(left, #fefefe, #f1f1f1);
    background: -o-linear-gradient(left, #fefefe, #f1f1f1);
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f1f1f1));
    background: -webkit-linear-gradient(left, #fefefe, #f1f1f1);
    background: linear-gradient(to left, #fefefe, #f1f1f1);
    overflow-x:hidden;
}

.sidebar {
    display: none;
}

@media all and (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        z-index: 1;
        -moz-box-shadow: 0px 0 40px #bfbfbf;
        -webkit-box-shadow: 0px 0 40px #bfbfbf;
        box-shadow:  0px 0 40px #bfbfbf;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

    .nav-sidebar > li > a {
        padding:20px 40px;
    }

    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #1E88E5;
    }

    .nav-sidebarZwiniety {
   width:100px;
}

    .nav-sidebarZwiniety a span{
   display:none ;
}

    .nav-sidebarZwiniety li a{
   padding:10px 0;
}

#navPortalPacjenta li{
    text-align: center;
    margin:0;

}

    #navPortalPacjenta li a img {
        height: 40px;
        margin: 0 auto;
    }

    #zwijaczMenu{
    width: 100%;
    height: 40px;
    display: block;
    overflow: hidden;
    background: white;
    color: #1E88E5;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    font-size:20pt;
}
.rotate {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*
 * Main content
 */

.main {
    padding: 20px;
    margin: 0 auto;
}

@media all and (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

#kontenerMaterialPortalPacjenta {
    height: 0;
    visibility: collapse;
}
