.terminarz {
    height: 40px;
    padding: 5px;
    cursor: default;
}

    .terminarz .panelNazwyPracownika {
        text-align: center;
        vertical-align: middle;
        background: #ffffff;
    }

    .terminarz .wolny-termin {
        height: 40px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
    }

        .terminarz .wolny-termin:hover {
            opacity: 0.8;
        }

    .terminarz .panel-rezerwacji {
        background: #5de9e0;
        color: white;
    }

    .terminarz .teminarzaPanelRezerwacjiBrakTerminu {
        background: #cccccc;
        height: 40px;
        padding: 5px;
    }

.portalPacjenta .terminarz .teminarzaPanelRezerwacji {
    background: #2196F3;
    height: 40px;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: default;
}


.portalPacjenta .terminarz .terminarzZarezerwowanyTermin {
    background: #f2f2f2;
    color:#d1d1d1;
    height: 40px;
    cursor: not-allowed;
    text-align:center;
    vertical-align:central;
}

.terminarzPanelGodzin {
    width: 10%;
    text-align: center;
}
