.terminarz {
    height: 40px;
    padding: 5px;
    cursor: default;
}

    .terminarz .panelNazwyPracownika {
        text-align: center;
        vertical-align: middle;
        background: #ffffff;
    }

.portalPacjenta .terminarz .wolny-termin {
    height: 2%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #5de9e0;
    color: white;
    -moz-transition: 150ms;
    -o-transition: 150ms;
    -webkit-transition: 150ms;
    transition: 150ms;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

    .portalPacjenta .terminarz .wolny-termin:hover {
        opacity: 0.8;
    }

    .portalPacjenta .terminarz .wolny-termin:active {
        opacity: 1;
        background: #5fc2bc;
    }

.portalPacjenta .terminarz .teminarzaPanelRezerwacjiBrakTerminu {
    background: #cccccc;
    height: 40px;
    padding: 5px;
}

.portalPacjenta .terminarz .teminarzaPanelRezerwacji {
    background: #2196F3;
    height: 40px;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: default;
}


.portalPacjenta .terminarz .terminarzZarezerwowanyTermin {
    background: #f2f2f2;
    color: #d1d1d1;
    height: 40px;
    cursor: not-allowed;
    text-align: center;
    vertical-align: central;
}

.terminarzPanelGodzin {
    width: 10%;
    text-align: center;
}
