@import url('RobotoFont.css');

html {
    height: 100%;
    width:100%;
    overflow:hidden;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
}

#PrzychodniaBodyKontener {
    background: #eeeeee;
}

a {
    cursor: pointer;
    text-decoration: none;
}

div {
    background: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


.wysrodkujCentralnie {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background: rgba(0,0,0,0.1);
    height:100%;
}

.kontenerOkienka {
    color: #3b3b3b;
    background: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    padding: 50px;
    overflow:auto;
    max-height: 100%;
}

.exit-button-kontener{
    text-align: right;
    position: absolute;
    left:0;
    top:0;
    padding:0;
}

.exit-button-kontener .button{
    padding: 20px 20px;margin: 20px;
    padding:0;
    text-align: right;
    color:#720000;
}

.exit-button-kontener .button:hover{
    color:#e63232;
}
.exit-button-kontener .button:active{
    color:#aa2424;
}


.button {
    padding: 10px 30px;
    background: white;
    cursor: pointer;
    margin: 0;
    -moz-transition: 100ms;
    -o-transition: 100ms;
    -webkit-transition: 100ms;
    transition: 100ms;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.button-blue {
    background: #5cb7de;
    border: 1px white solid;
    color: white;
}

    .button-blue:hover {
        background: #5f9db7;
    }

    .button-blue:active {
        background: #3a6f86;
    }




.button-red {
    background: #ff2d2d;
    border: 1px white solid;
    color: white;
}

    .button-red:hover {
        background: #ff3d3d;
    }

    .button-red:active {
        background: #ae0404;
    }

.button-kafelek {
    width: 46%;
    height: 46%;
    margin: 1%;
    float: left;
    background: white;
    box-shadow: 1px 1px 1px #888888;
}

    .button-kafelek:hover {
        box-shadow: none;
        background: #5cb7de;
        color: white;
    }

    .button-kafelek:active {
        background: #3a6f86;
    }

    .button-kafelek:focus {
        background: #3a6f86;
    }

.kontenerMaterial {
    background: white;
    box-shadow: 0 15px 10px -16px #939393;
    padding: 20px;
    margin: 10px auto;
}


.display-none {
    display: none;
}

.display-block {
    display: block;
}

.ukryty {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.widoczny {
    display: block;
    visibility: visible;
    opacity: 1;
}

.maxWysokosc {
    height: 100%;
}

.maxSzerokosc {
    width: 100%;
}

.heighAuto {
    height: auto;
}
