.terminarz {
    height: 40px;
    padding: 5px;
}

    .terminarz .panelNazwyPracownika {
        text-align: center;
        vertical-align: middle;
        background: #ffffff;
    }

    .terminarz .panel-rezerwacji {
        position: relative;
        padding: 2px;
        height: 100%;
    }

    .terminarz .wolny-termin {
        height: 40px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        background: #5de9e0;
        color: white;
    }

        .terminarz .wolny-termin:hover {
            opacity: 0.8;
        }



.terminarzPanelGodzin {
    width: 10%;
    text-align: center;
}

.kafelekRezerwacji {
    width: 100%;
    height: 100%;
    min-height: 20px;
    background: #80D8FF;
    border: solid 1px black;
    text-align: center;
    position: relative;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

    .kafelekRezerwacji .left-side {
        text-align: left;
    }

    .kafelekRezerwacji .central {
        text-align: center;
    }

    .kafelekRezerwacji .right-side {
        text-align: right;
    }

    .kafelekRezerwacji span {
        top: 0;
        vertical-align: middle;
        font-size: 9pt;
        margin: auto;
    }

    .kafelekRezerwacji div {
        display: inline-block;
        vertical-align: middle;
    }

    .kafelekRezerwacji .przyciski {
    }

        .kafelekRezerwacji .przyciski .usun-rezerwacje-btn {
            cursor: pointer;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }

        .kafelekRezerwacji .przyciski .usun-rezerwacje-btn:hover {
            color:darkred;
        }
        .kafelekRezerwacji .przyciski .usun-rezerwacje-btn:active {
            color:indianred;
        }


    .kafelekRezerwacji .W {
        background: #b9de1d;
    }

#opcje-terminarza-button {
    width: 50px;
    height: 50px;
    display: block;
}

#opcje-terminarza-kontener {
    display: none;
}

#opcje-terminarza-okno {
    display: block;
}

#okno-ustawiania-indywidualnego-grafika {
    padding: 50px;
}


#kartaPacjenta {
    display: block;
    margin: 20px;
    visibility: collapse;
    height: 0;
}

    #kartaPacjenta label {
        font-size: x-small;
    }



@media all and (max-width: 768px) {

    .buttonFotterContainer input {
        margin: 10px auto;
    }

    .kafelekRezerwacji {
        vertical-align: middle;
        text-align: center;
    }

        .kafelekRezerwacji span {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            vertical-align: middle;
            font-size: x-small;
            margin: auto;
        }
}
/*------------------karta do usuwania pacjenta------------------------*/
#kartaUsuwaniaPacjenta {
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

/*#############  KARTA REZERWACJI  ####################################################################################################################*/

#kartaRezerwacjiWizytyKontener {
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#kartaRezerwacjiWizyty {
    display: block;
    padding: 20px;
    max-width: 700px;
    height: auto;
}

#kartaRezerwacjiWizytyDane {
    float: left;
    width: 80%;
}

#kartaRezerwacjiWizytyZdjeciePacjenta {
}

#kartaRezerwacjiWizytyButtonKontener input {
    margin-top: 30px;
    margin-bottom: 10px;
}

@media all and (max-width:768px) {

    #kartaRezerwacjiWizyty {
        height: 100%;
    }

    #kartaRezerwacjiWizytyDane {
        width: 100%;
        margin-bottom: 10px;
    }

    #kartaRezerwacjiWizytyButtonKontener input {
        height: 40px;
        margin-top: 0;
        font-size: small;
    }
}
