.pokazWizyte{
    color:white;
}


    #ZapiszDodajWizyteForm .form-wizyta {
        resize: vertical;
        height: 5em;
    }


    #ZapiszDodajWizyteForm .form-wizyta-leki {
        resize: vertical;
        height: 1em;
    }

.DaneWizyta {
    height: 40px;
    text-align: center;
    vertical-align: middle!important;
    color: #222;
    cursor: default;


}

#TabelaWizyty .input-group-btn:last-child > .btn,
    .input-group-btn:last-child > .btn-group {
        z-index: auto;

    }

#TabelaWizyty .glyphicon-ok {
    /*font-size: 2em;*/
    color: forestgreen;
}

#TabelaWizyty .glyphicon-remove {
    /*font-size: 2em;*/
    color: red;
}


.DaneWizytaObsluz {
    cursor: pointer;
}

.OpcjeDodatkowePoczekalnia {
    padding: 0px;
    width:1%;
    height:50%;
}



/* Przyciski do klikania daty by wyswietlic historie*/

.button-historia {
    cursor: pointer;
    padding-left:9px;
    background: white;
    border: 1px white solid;

}

    .button-historia:hover {
        background: #bebebe;
    }

    .button-historia:active {
        background: #808080;
    }