#kartaRezerwacjiPortalPacjentaNiezalogowany {
    visibility: collapse;
}

#kartaRezerwacjiPortalPacjentaNiezalogowanyDane {
    float: left;
    width: 80%;
}

#kartaRezerwacjiPortalPacjentaNiezalogowanyZdjeciePacjenta {
    float: left;
    width: 20%;
}

#kartaRezerwacjiPortalPacjentaNiezalogowanyButtonKontener input {
    margin-top: 30px;
    margin-bottom: 10px;
}

@media all and (max-width:768px) {

    #kartaRezerwacjiPortalPacjentaNiezalogowanyButtonKontener input {
        height: 40px;
        margin-top: 0;
        font-size: small;
    }

    #kartaRezerwacjiPortalPacjentaNiezalogowanyDane {
        width: 100%;
        margin-bottom:10px;
    }

    #kartaRezerwacjiPortalPacjentaNiezalogowany {
        height:100%;
    }
}
