<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sopel20161129.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>sopel20161129.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sopel20161129</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sopel20161129</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="sopelLocal" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:soepl.database.windows.net,1433;Initial Catalog=sopelLocal;User ID=philius@soepl.database.windows.net;Password=R0c0nan1" Name="Data Source=tcp:soepl.database.windows.net,1433;Initial Catalog=sopelLocal;User Id=philius@soepl.database.windows.net;Password=R0c0nan1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SOPeL.DAL.SopelContext, SOPeL" MigrationConfiguration="SOPeL.Migrations.Configuration, SOPeL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sopelLocal-Web.config Connection String">
      <ParameterValue>Data Source=tcp:soepl.database.windows.net,1433;Initial Catalog=sopelLocal;User Id=philius@soepl.database.windows.net;Password=R0c0nan1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>