@{
    ViewBag.Title = "Terminarz";
}

<div class="container kontenerMaterial">
    <div class="container">
        <div id="terminarzDataKontener" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label for="dataRezerwacji">Data</label>
            <input type="text" onchange="zmianaTerminu()" value="@DateTime.Now.Year-@string.Format("{0:00}", DateTime.Now.Month)-@string.Format("{0:00}",DateTime.Now.Day)" id="dataRezerwacji" name="dataRezerwacji" class="form-control datepickerRejOnline" />
        </div>

    </div>
</div>

<div class="container kontenerMaterial" id="kontenerMaterialPortalPacjenta" style="padding:0">
    @* Treść ładowana AJAXem *@
    @Html.Partial("~/Views/Przychodnia/Terminarz/TerminarzPrzychodnia.cshtml")

</div>