@{
    ViewBag.Title = "Kartoteki";
    Layout = "~/Views/_Layout.cshtml";
}



<button onclick="drukSkierowania()">skierowanie</button>
<div id="Kartoteki-Kafelki" class="row">
    <div id="PacjenciBtn" class="button button-kafelek lista-pacjentow-btn">
        <div class="wysrodkujCentralnie">
            <div>
                <img src="~/Content/Images/pacjentIcon.png" alt="Poradnie" />
                <p>Pacjenci</p>
            </div>
        </div>
    </div>
    <div id="PracownicyBtn" class="button button-kafelek">
        <div class="wysrodkujCentralnie">
            <div>
                <img src="~/Content/Images/PracownikIcon.png" alt="Poradnie" />
                <p>Pracownicy</p>
            </div>
        </div>
    </div>
    <div id="PoradnieBtn" class="button button-kafelek">
        <div class="wysrodkujCentralnie">
            <div>
                <img src="~/Content/Images/PoradnieIcon.png" alt="Poradnie" />
                <p>Poradnie</p>
            </div>
        </div>
    </div>
    <div id="JednostkiBtn" class="button button-kafelek">
        <div class="wysrodkujCentralnie">
            <div>
                <img src="~/Content/Images/JednostkaOrgIcon.png" alt="Poradnie" />
                <p>Jednostki organizacyjne</p>
            </div>
        </div>
    </div>
</div>
<div id="testDruku">
    Ale urwał!
</div>
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/printThis.js"></script>
}
<script>
    function drukSkierowania() {
        //$.ajax({
        //    url: '/Kartoteki/SkierTest',
        //    type: 'POST',
        //    success: function (response) {
        //        var mywindow = window.open('', 'skierowanie', 'height=400,width=600');
        //        mywindow.document.write(response);

        //        mywindow.print();
        //        mywindow.close();
        //    }
        //});

        $("#testDruku").printThis();
    }
</script>