@{
    ViewBag.Title = "Kartoteki";
    Layout = "~/Views/_Layout.cshtml";
}


@section scripts{
    <script src="~/Scripts/printThis.js"></script>
}

<div id="Kartoteki-Kafelki" class="row">
    <div id="PacjenciBtn" class="button button-kafelek lista-pacjentow-btn">
        <div class="wysrodkujCentralnie">
            <div>
                <img src="~/Content/Images/pacjentIcon.png" alt="Poradnie" />
                <p>Pacjenci</p>
            </div>
        </div>
    </div>
    <div id="PracownicyBtn" class="button button-kafelek">
        <div class="wysrodkujCentralnie">
            <div>
                <img src="~/Content/Images/PracownikIcon.png" alt="Poradnie" />
                <p>Pracownicy</p>
            </div>
        </div>
    </div>
    <div id="PoradnieBtn" class="button button-kafelek">
        <div class="wysrodkujCentralnie">
            <div>
                <img src="~/Content/Images/PoradnieIcon.png" alt="Poradnie" />
                <p>Poradnie</p>
            </div>
        </div>
    </div>
    <div id="JednostkiBtn" class="button button-kafelek">
        <div class="wysrodkujCentralnie">
            <div>
                <img src="~/Content/Images/JednostkaOrgIcon.png" alt="Poradnie" />
                <p>Jednostki organizacyjne</p>
            </div>
        </div>
    </div>
</div>
<div style="display:none">
    <div id="test">
        test
    </div>
</div>

<script>
    function drukSkierowania() {
        $.ajax({
            url: '/Kartoteki/DownloadViewPDF',
            type: 'POST',
            success: function (response) {
                var mywindow = window.open('', 'skierowanie', 'height=400,width=600');
                mywindow.document.write(response);
            }
        });
    }
</script>