@model SOPeL.Models.SkierowanieTest
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Skierowanie.css" rel="stylesheet" />
</head>
<body moznomarginboxes mozdisallowselectionprint>
<div>
    Data skierowania: @Model.data
</div>
<div>
    Poradnia: @Model.poradnia
</div>

</body>
</html>