@model IEnumerable<SOPeL.Models.Pacjent>

@{
    var ajaxOptions = new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ListaPacjentowTabela"
    };
  }
@using (Ajax.BeginForm("SzukajPacjentow", "Kartoteki", ajaxOptions, new { @id = "SzukajPacjentowForm", @class = "form" }                                                                ))
{
    <h3>Szukaj:</h3>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10">
            @Html.TextBox("searchString", null, new { @class = "SzukajPacjentaInput form-control", @autocomplete = "off" })
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="button dodaj-pacjenta" title="Dodaj pacjenta">
                <span class="glyphicon glyphicon-plus "></span>
            </div>
        </div>
    </div>
}

<div id="searchResults"></div>
<div class="row" id="ListaPacjentowTabela">
    @Html.Partial("_ListaPacjentowTabela", Model)
</div>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>