@model IEnumerable<SOPeL.Models.Pacjent>


@using (Ajax.BeginForm("SzukajPacjentow", "Kartoteki", new { @id = "SzukajPacjentowForm" },
                new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ListaPacjentowTabela" }))
{
    <h3>Szukaj:</h3>
    @Html.TextBox("searchString", null, new { @class = "SzukajPacjentaInput" })
}
<div id="searchResults"></div>
<div class="row" id="ListaPacjentowTabela">
   @Html.Partial("_ListaPacjentowTabela", Model)
</div>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>