<table class="table">
    <tr>
        <td><span class="glyphicon glyphicon-ok-sign" style="color:green"></span> </td>
        <td>Pacjent jest uprawniony do świadczeń</td>
    </tr>
    <tr>
        <td><span class="glyphicon glyphicon-alert" style="color:greenyellow"></span> </td>
        <td>Pacjent nie został jeszcze prawdzony w systemie eWuś</td>
    </tr>
    <tr>
        <td><span class="glyphicon glyphicon-remove-sign" style="color:red"></span></td>
        <td>Brak uprawnień do świadczeń</td>
    </tr>
</table>