<div class="przychodnia">
    <table class="table table-bordered terminarz">

        @{
            foreach (var item in Model)
            {
                <tr>
                    <td class="pacjent_oczekujacy"> @item.Nazwisko  @item.Imie <br /> @item.Pesel</td>
                </tr>
            }
        }
    
    </table>
</div>
