@model SOPeL.Models.Uzytkownik


<div class="buttonFotterContainer">
    <input type="submit" class="" value="Zaloguj" />
    <input type="submit" class="" value="Anuluj" />
</div>
<div class="portalExtraButtons">
    @Html.ActionLink("Nie mam jeszcze konta", "Rejestracja", "PortalPacjenta") <br />  
    @Html.ActionLink("Chcę się umówić bez rejestracji", "Index", "PortalPacjenta")
</div>