
@{
    ViewBag.Title = "Zestawienia";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="Kartoteki-Kafelki" class="row">
    <div id="Zestawienia-Pacjenow-Btn" class="button button-kafelek">
        <div class="wysrodkujCentralnie">
            <div>
                <img src="~/Content/Images/ZestPacjIcon.png" alt="Poradnie" />
                <p>Zestawienia pacjentów</p>
            </div>
        </div>
    </div>
    <div id="Zestawienia-Wizyt-Btn" class="button button-kafelek">
        <div class="wysrodkujCentralnie">
            <div>
                <img src="~/Content/Images/ZestWizIcon.png" alt="Poradnie" />
                <p>Zestawienia wizyt</p>
            </div>
        </div>
    </div>
    <div id="Zestawienia-Rezerwacji-Btn" class="button button-kafelek">
        <div class="wysrodkujCentralnie">
            <div>
                <img src="~/Content/Images/ZestRezIcon.png" alt="Poradnie" />
                <p>Zestawienia rezerwacji</p>
            </div>
        </div>
    </div>
    <div id="Zestawienia-Wlasne-Btn" class="button button-kafelek">
        <div class="wysrodkujCentralnie">
            <div>
                <img src="~/Content/Images/ZestUzytIcon.png" alt="Poradnie" />
                <p>Zestawienia użytkowika</p>
            </div>
        </div>
    </div>
</div>

